* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header, footer {
    flex-shrink: 0; /* ensures that header and footer don't shrink */
}

.section {
    flex-grow: 1; /* sections grow to take up available space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    background-color: #34495e;
    padding: 1vw;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 3vw;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 2vw;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #27ae60;
}

h2 {
    font-size: 2.5vw;
}

p {
    font-size: 1.5vw;
}

.bg-gradient-blue {
    background: linear-gradient(to right, #3498db, #2980b9);
}

.bg-gradient-green {
    background: linear-gradient(to right, #2ecc71, #27ae60);
}

.bg-gradient-pink {
    background: linear-gradient(to right, #e74c3c, #c0392b);
}

footer {
    background-color: #34495e;
    padding: 1vw;
    text-align: center;
    font-size: 1.5vw;
}
