body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    color: #fff;
}

header, footer {
    flex: 0 0 auto;  /* Do not grow, do not shrink, auto compute based on content */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 4vh; /* Responsive font size */
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 2vh;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    font-size: 2vh;
}

.menu li a:hover {
    color: #27ae60;
}

.section {
    flex: 1;  /* Divide remaining space among sections */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2vh; /* Padding for aesthetics */
}

h2 {
    font-size: 3vh;  /* Responsive font size */
}

p {
    font-size: 2.5vh;
}

.bg-gradient-blue {
    background: linear-gradient(to right, #3498db, #2980b9);
}

.bg-gradient-green {
    background: linear-gradient(to right, #2ecc71, #27ae60);
}

.bg-gradient-pink {
    background: linear-gradient(to right, #e74c3c, #c0392b);
}

footer {
    text-align: center;
    font-size: 2vh;
    padding: 1vh;
}
